.exampleComponent{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    box-shadow: 5px 5px 5px black;
}