:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  } 
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .contact-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    max-height: 340px;

    color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .contact-form {
    flex: 1;
    margin-right: 20px;
  }
  
  .contact-form h1 {
    color: #00bfff;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    color: white;    
  }
  
  
  .contact-form button {
    padding: 10px;
    background-color: #004457;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
