.container{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 35%;
}

.welcomeText{
    font-size: 23px;
    color: white;
}

.clubName{
    font-size: 50px;
    color: #00C8FF;
    font-weight: 700;
}

.text{
    font-size: 17px;
    color: #D2D2D2
}

.clubDescription{
    font-size: 17px;    
    color: #8E8E8E;
}